@model IEnumerable<khlebnikova.Student>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<h1> Students list:</h1>
<style>


    table {
        width: 80%;
        margin-left: 190px;
        border-color: #C0A1E5;
        text-align: center;
        margin: auto;
        align-content: center;
    }

    /*tr {
        color: white;
        font-family: 'Rock Salt', cursive;
    }*/

    h1 {
        text-align: center;
        margin: 20px auto;
        font-size: 30px;
        font-weight: bold;
        font-family: 'Rock Salt', cursive;
        padding: 20px;
        font-style: italic;
        caption-side: bottom;
        color: white;
        text-shadow: 0 0 10px grey,0 0 20px black,0 0 30px #4166E1,0 0 40px #4166E1;
        letter-spacing: 1px;
    }
    </style>
<div class="row">

<table style="width:80%;" class="table table-bordered table-striped table-hover" >
    <thead>
        <tr class="thead-dark">
            <th scope="col">Student</th>
            <th scope="col">Date of Birth</th scope="col">
            <th scope="col">Date of admission</th scope="col">
            <th scope="col">Age</th scope="col">
            <th scope="col">Faculty</th scope="col">
            <th scope="col">Progress%</th scope="col">
            <th scope="col">Group index</th scope="col">
            <th scope="col">Specialty</th scope="col"> <br />

        </tr>
    </thead>
    @foreach (var s in Model)
    {


        <tr>
            <td >@($"{s.Lastname} {s.Name} {s.Patronym}")</td>
            <td>@($"{s.Birthday}")</td>
            <td>@($"{s.Date}")</td>
            <td>@($"{s.Age(s)}")</td>
            <td>@($"{s.Faculty}")</td>
            <td>@($"{s.Specialty}")</td>
            <td>@($"{s.Index}")</td>
            <td>@($"{s.Progress}")</td>
        </tr>

    }

</table>
    
    </div>

        
